body {
  font-family: 'Poppins','Open Sans' arial, helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: hsl(257, 40%, 49%);
  background-image: url(./images/bg-desktop.svg);
  color: white;
  margin: 0;
}

header {
  padding: 40px 0 10px 100px;
}

.logo {
  width: 15%;
  height: auto;
}

.intro {
  display: flex;
  justify-content: center;
}

.right-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  margin-right: 30px;
  margin-top: 50px;
}

.left-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 100px;
  margin-left: 30px;
  margin-bottom: 80px;
}

#heading {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.8rem;
  /* line-height: 3rem; */
  /* margin-right: 120px; */
}

#text {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.2rem;
  /* margin-right: 120px; */
}

#register-button {
  font-family: 'Poppins';
  font-size: 1rem;
  /* margin-right: 120px; */
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: white;
  color: hsl(257, 40%, 49%);
  padding: 10px 5px 10px 5px;
  width: 200px;
  box-shadow: 2px 6px 8px rgba(0,0,0,0.19);
}

#register-button:hover {
  background-color: hsl(257, 40%, 49%);
  color: white;
  border: white 1px solid;
}

.socials {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.social-icon {
  /* padding-right: 20px; */
  border: white 1px solid;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

footer {
  color: white;
}
